


<div class="profilebody">

  <div class="profilepic">

    <a class="btn btn-primary" id="upload" href="#" role="button">  upload image</a>


  </div>
    <h2 id="h2nomargin">Trista's Profile </h2>
</div>
<%= render 'sidebar' %>
