
<div class="container">
  <div>
   <%= image_tag 'women1.jpg', class: "img-circle", width:'30%', height: '165px'%>
 <%= image_tag 'gameheart.jpg', class: "img-circle", width:'30%', height: '175px'%>
 <%= image_tag 'guy.jpg', class: "img-circle", width:'30%', height: '165px'%>
</div>
</div>
