
<div class="container">
  <div>
   <%= image_tag 'women1.jpg', class: "img-circle", width:'30%', height: '165px'%>
 <%= image_tag 'gameheart.jpg', class: "img-circle", width:'30%', height: '175px'%>
 <%= image_tag 'guy.jpg', class: "img-circle", width:'30%', height: '165px'%>
</div>

<hr>
<div>
<h2 class="centerdiv"> What are we about anyway?</h2>
</div>
<!-- <div class="row"> -->

<div id="righttext">
  <h4>We like video games </h4>
  <p>We want to share that joy with the world </p>
</div>

<div id="lefttext">
  <h4>We like you</h4>
  <p>We want you to find that special someone </p>
</div>

<!-- </diV> -->

</div>
