

<div class="centerdiv">
   <h2>Welcome!</h2>
   <p>Here are your matches for today </p>
</div>

  <div class=" colum-md-6 bottomdiv">

    <%= image_tag 'gbit.jpg', width:'80%', height: '230px' %>
  </div>

  <div class="welcomepic">

  </div>
  <div class="welcomebody">
    <h3>lvl60Warrior</h3> <br>
    <p>I want to level up with you ;-)</p>
  </div>

<%= render 'sidebar' %>

<%= yield %>

</body>
</html>
