

<div class="centerdiv">
   <h2>Welcome!</h2>
</div>

  <div class=" colum-md-6 bottomdiv">

    <%= image_tag 'gbit.jpg', width:'80%', height: '230px' %>
  </div>

<%= render 'sidebar' %>

<%= yield %>

</body>
</html>
